In [1]:
import os
import pandas as pd
import numpy as np
import math

In [2]:
folder='..\\datosCrudos\\new'
filename='rendimiento_año_2020_2022_completo.xlsx'
lectura= pd.read_excel(folder+"\\"+filename, sheet_name="REND",skiprows=0)

In [3]:
lectura.head()

,Idalumno,Cod.Asign,Asignatura,Cod.Car.Sec,Cod.Curso,Convocatoria,Anho,Semestre,Aprobado,Anho.Firma,...,Requisito,Primer.Rec,Segundo.Rec,Nota.Final,periodo1,periodo2,periodo3,puntaje1,puntaje2,puntaje3
0,1,13224,INGENIERIA ECONOMICA,IND-PLS13,8,1,2022,2,S,2022,...,1,0,0,1F-5,1F,NaN,NaN,25.0,NaN,NaN
1,1,13013,CALCULO 3,IND-PLS13,3,2,2022,2,N,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,13014,PROBABILIDAD Y ESTADISTICA,IND-PLS13,3,2,2022,2,N,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,13203,TERMODINAMICA,IND-PLS13,5,2,2022,2,N,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,13419,SISTEMAS DE CONTROL,ECA-PLS13,6,1,2022,2,S,2022,...,1,0,0,1F-5,1F,NaN,NaN,14.0,NaN,NaN

In [4]:
lectura=lectura[lectura.Anho>2020]

lectura=lectura.drop(['Cuarto.Par'],axis=1)
lectura=lectura.drop(['4P_60'],axis=1)
lectura=lectura.drop(['Tercer.Par'],axis=1)

In [5]:
lectura['Cod.Curso'].unique()

array([ 8,  3,  5,  6, 10,  4,  7, 13,  9,  2,  1], dtype=int64)

In [6]:
len(lectura['Idalumno'].unique())

3069

In [7]:
lectura.describe()

,Idalumno,Cod.Asign,Cod.Curso,Convocatoria,Anho,Semestre,Anho.Firma,Primer.Par,Segundo.Par,AOT,Asis,Requisito,Primer.Rec,Segundo.Rec,puntaje1,puntaje2,puntaje3
count,57170.000000,57170.000000,57170.000000,57170.000000,57170.000000,57170.000000,57170.000000,57170.000000,57170.000000,57170.000000,57170.000000,57170.000000,57170.000000,57170.000000,22278.000000,9773.000000,3915.000000
mean,1679.152090,12624.570264,5.134808,1.377121,2021.462096,1.513556,1309.576998,10.897446,15.072626,6.332762,0.973465,0.744691,4.164474,1.733042,20.097406,17.961834,17.513665
std,905.935985,2388.023064,3.235723,0.484670,0.498566,0.499821,965.505132,7.653615,12.297022,4.151965,0.160721,0.436038,10.941376,7.220617,6.080488,6.236806,5.794647
min,1.000000,2405.000000,1.000000,1.000000,2021.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,920.000000,13010.000000,3.000000,1.000000,2021.000000,1.000000,0.000000,4.000000,0.000000,3.000000,1.000000,0.000000,0.000000,0.000000,16.000000,14.000000,14.000000
50%,1659.000000,13102.000000,5.000000,1.000000,2021.000000,2.000000,2021.000000,11.000000,16.000000,7.000000,1.000000,1.000000,0.000000,0.000000,20.000000,18.000000,18.000000
75%,2452.000000,13306.000000,7.000000,2.000000,2022.000000,2.000000,2022.000000,17.000000,26.000000,10.000000,1.000000,1.000000,0.000000,0.000000,25.000000,22.000000,21.000000
max,3292.000000,13807.000000,13.000000,2.000000,2022.000000,2.000000,2022.000000,24.000000,36.000000,34.000000,1.000000,1.000000,60.000000,60.000000,30.000000,30.000000,30.000000

In [8]:
lectura.isna().sum()/len(lectura)*100

Idalumno         0.000000
Cod.Asign        0.000000
Asignatura       0.000000
Cod.Car.Sec      0.000000
Cod.Curso        0.000000
Convocatoria     0.000000
Anho             0.000000
Semestre         0.000000
Aprobado         0.000000
Anho.Firma       0.000000
Primer.Par       0.000000
Segundo.Par      0.000000
AOT              0.000000
Asis             0.000000
Requisito        0.000000
Primer.Rec       0.000000
Segundo.Rec      0.000000
Nota.Final      41.661711
periodo1        60.759139
periodo2        82.518804
periodo3        93.146755
puntaje1        61.032010
puntaje2        82.905370
puntaje3        93.152003
dtype: float64

In [9]:
lectura["Aprobado"].replace({"S": 1, "N": 0}, inplace=True)

In [10]:
lectura.rename(columns={'Cod.Asign' : 'codAsig','Primer.Par':'1P','Semestre':'ciclo','Segundo.Par':'2P','AOT':'Taller','Primer.Rec':'1R'},inplace = True)
lectura.rename(columns={'Segundo.Rec':'2R','Nota.Final':'NF','Cod.Car.Sec':'Carrera','Cod.Curso':'Semestre','Anho.Firma': 'AnhoFirma'},inplace = True)

In [11]:
lectura.dtypes

Idalumno          int64
codAsig           int64
Asignatura       object
Carrera          object
Semestre          int64
Convocatoria      int64
Anho              int64
ciclo             int64
Aprobado          int64
AnhoFirma         int64
1P                int64
2P                int64
Taller            int64
Asis              int64
Requisito         int64
1R                int64
2R                int64
NF               object
periodo1         object
periodo2         object
periodo3         object
puntaje1        float64
puntaje2        float64
puntaje3        float64
dtype: object

In [12]:
#Aqui definimos la funcion que separara los datos
primerfinal=[]
segundofinal=[]
tercerfinal=[]

#Esta funcion identifica si el alumno rindio el primer, segundo o tercer final teniendo en cuenta que los finales rendidos se
#representan con 1F,2F o 3F

def separar(lista):
    global primerfinal
    global segundofinal
    global tercerfinal
    for nota in lista:
        if not(isinstance(nota, str)):
            primerfinal.append(0)
            segundofinal.append(0)
            tercerfinal.append(0)
        else:
            if '1F' in nota:
                n=nota.find('1F')
                if nota[n+3]=='C' or nota[n+3]=='D':
                    primerfinal.append(int(nota[n+5]))
                else:
                    primerfinal.append(int(nota[n+3]))
            else: 
                primerfinal.append(0)
                
            if '2F' in nota:
                n=nota.find('2F')
                if nota[n+3]=='C' or nota[n+3]=='D':
                    segundofinal.append(int(nota[n+5]))
                else:
                    segundofinal.append(int(nota[n+3]))
            else: 
                segundofinal.append(0)
            
            if '3F' in nota:
                n=nota.find('3F')
                if nota[n+3]=='C' or nota[n+3]=='D':
                    tercerfinal.append(int(nota[n+5]))
                else:
                    tercerfinal.append(int(nota[n+3]))
            else: 
                tercerfinal.append(0)

def maximo(a,b,c):
    """
    Esta funcion obtiene la nota mas alta obtenida por el alumno durante los finales. Esta funcion se 
    utiliza para obtener la nota final
    """
    salida=np.zeros(len(a))
    for i in range(len(a)):
        if a[i]>=b[i] and a[i]>=c[i]:
            salida[i]=int(a[i])
        elif b[i]>=c[i]:
            salida[i]=int(b[i])
        else:
            salida[i]=int(c[i])
    return salida.astype(np.int64)

#Cargamos el contenido de 'Nota.Final' en una lista, para asi introducir la lista en la funcion
listaNotas=lectura["NF"].tolist()
separar(listaNotas)

#Creamos nuevas columnas en el df y le cargamos los vectores con los datos
lectura['1F']=primerfinal
lectura['2F']=segundofinal
lectura['3F']=tercerfinal

#Hallamos la nota final y la cargamos en una nueva columna en el df
nota_final=maximo(primerfinal,segundofinal,tercerfinal)
lectura['NF']=nota_final

In [13]:

maximo(primerfinal,segundofinal,tercerfinal)

array([5, 0, 0, ..., 4, 0, 0], dtype=int64)

In [14]:
lectura=lectura[lectura.Semestre.values!=13]

In [15]:
lectura.to_csv("nuevoDataset.csv",index=False)